$font-raleway: 'Raleway', sans-serif;
$font-georgia: 'Georgia', sans-serif;


$color-grey-100: #F6F7F9;
$color-grey-600: #545F6C;
$color-grey-700: #19293C;
$color-brown-700: #2B1E10;

$color-purple-dark: #622ADA;
$color-white: #fff;
$color-black: #000;