@import 'include/vars.scss';
@import 'include/reset.scss';
@import 'include/helper.scss';
@import 'include/functions.scss';
@import 'include/btns.scss';
@import 'include/inputs.scss';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  &.wp-admin{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }
}

* {
  outline: none !important;
}

main {
  flex: 1;
}

h1, h2 {
  font-size: 40px;
  margin-bottom: 20px;
  &.has-x-large-font-size {
    font-size: 75px !important;
    @media only screen and (max-width: 991px) {
      font-size: 48px !important;
    }
  }
}
h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
b, strong {
  font-weight: bold;
}


.container {
  @media only screen and (min-width: 1501px) {
    max-width: 1400px;
  }
  @media only screen and (min-width: 1622px) {
    max-width: 1540px;
  }
}

.header {
  position: relative;
  background: #000;
  &__wrap {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    @media only screen and (max-width: 991px) {
      display: none;
    }
    &-mob {
      flex-grow: 2;
      padding-left: 15px;
      padding-top: 3px;
      @media only screen and (min-width: 992px) {
        display: none;
      }
    }
  }
  &__link {
    @media only screen and (max-width: 991px) {
      background: #9747FF;
      text-indent: -99999px;

      &:before {
        margin-right: 0;
      }
    }
  }
}

.sub-header {
  background: #000;
  &__title {
    color: #fff;
    text-align: center;
    font-size: 20px;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.header-menu {
  @media only screen and (min-width: 992px) {
    display: flex !important;
    align-items: center;
    padding: 29px 0;
  }
  @media only screen and (max-width: 991px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    background: $color-black;
    border-top: 1px solid $color-grey-100;
    border-bottom: 1px solid $color-grey-100;
    padding-top: 20px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }
    .menu-item {
      margin-right: 37px;
      @media only screen and (max-width: 1200px) {
        margin-right: 20px;
      }
      @media only screen and (max-width: 991px) {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        padding: 0 28px;
      }
      &.current-menu-item > a {
        position: relative;
        &:before {
          opacity: 1;
        }
      }
      a {
        padding: 5px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $color-white;
        transition: color .5s;
        position: relative;
        text-decoration: none;
        @media only screen and (max-width: 991px) {
          font-size: 20px;
          line-height: 30px;
        }
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: opacity .5s;
          background: $color-purple-dark;
          opacity: 0;
          transition: opacity .5s;
        }
        &:hover {
          text-decoration: none;
          color: $color-white;
          &:before {
            opacity: 1;
          }          
        }
      }
      .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        padding: 20px;
        z-index: 9;
        min-width: 200px;
        @media only screen and (min-width: 992px) {
          box-shadow: 0 4px 4px rgb(0 0 0 / 7%);
        }
        @media only screen and (max-width: 991px) {
          position: static;
        }
        .menu-item {
          color: $color-grey-700;
          margin-bottom: 20px;
          margin-right: 0;
          @media only screen and (max-width: 991px) {
            padding: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &.menu-item-has-children {
        position: relative;
        & > a {
        display: flex;
        align-items: center;
        position: relative;
        @media only screen and (max-width: 991px) {
          justify-content: space-between;
        }
        &:after {
          content: '';
          display: block;
          width: 14px;
          height: 6px;
          margin-left: 7px;
          background: url('../../img/chevron-down.svg') center / contain no-repeat;
          @media only screen and (max-width: 991px) {
            width: 15px;
            height: 7px;
          }
        }
      }
      }
    }
  }
} 
.hamburger-btn {
  margin: 0 auto;
  width: 21px;
  height: 16px;
  position: relative;
  cursor: pointer;
	.bar {
	  padding: 0;
	  width: 21px;
	  height: 2px;
	  background-color: $color-white;
	  display: block;
	  border-radius: 4px;
	  transition: all 0.4s ease-in-out;
	  position: absolute;
		&1{
			top: 0;
		}
		&2,
		&3 {
		  top: 7px;
		}
		&4 {
		  bottom: 0;
		}
	}
  &__label {
    display: none;
    @media only screen and (max-width: 991px) {
      background: #273139;
      display: block;
      cursor: pointer;
    }
  }
	&__input{
		display: none;
		& + label{
		  margin-bottom: 0;
		  overflow: hidden;
		  padding: 15px 12.5px;
		}
		&:checked{
			& + label > .hamburger-btn > .bar{
				&1{
				  transform: rotate(45deg);
				  transform-origin: 5%;
				  width: 22px;
          left: 2px;
				}
				&2 {
				  transform: translateX(-40px);
				  background-color: transparent;
				}
				&3 {
				  transform: translateX(40px);
				  background-color: transparent;
				}
				&4 {
				  transform-origin: 5%;
				  transform: rotate(-45deg);
				  width: 22px;
          left: 2px;
				}
			}
		}
	}
}

.footer {
  border-top: 1px solid #273139;
  @media only screen and (max-width: 991px) {
    .header {
      &-menu {
        border-top: 0;
        border-bottom: 0;
        padding-top: 0;
        display: flex;
        position: static;
        width: auto;
        order: 1;
        margin-bottom: 20px;
        &__wrap {
          display: flex;
          flex-direction: row;
        }
      }
      &__logo {
        display: flex;
        max-width: 235px;
        order: 0;
        margin-bottom: 30px;
      }
      &__wrap {
        flex-direction: column;
        padding: 40px 0;
      }
      &__link {
        order: 2;
        text-indent: 0;
        border-radius: 0;
        width: 100%;
        span {
          margin-left: 10px;
          display: block;
        }
      }
    }
  }
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  a {
    display: block;
    transition: transform .2s;
    &:hover {
      transform: scale(1.05);
      text-decoration: none !important;
    }
  }
  img {
    width: 41px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  }

.footer-bottom {
  padding: 10px 0 20px;
  border-top: 1px solid #C4C4C4;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: $color-brown-700;
  text-align: center;
  @media only screen and (max-width: 991px) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.wpcf7-form {
  color: #fff;
  max-width: 864px;
  margin: 0 auto;
  a {
    color: #fff;
  }
  h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  h4 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.75);
    &:before {
      content: '';
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none'%3E%3Cg clip-path='url(%23clip0_7_2513)'%3E%3Cpath d='M10.5 21.5C12.5767 21.5 14.6068 20.8842 16.3335 19.7304C18.0602 18.5767 19.406 16.9368 20.2007 15.0182C20.9955 13.0996 21.2034 10.9884 20.7982 8.95156C20.3931 6.91476 19.3931 5.04383 17.9246 3.57538C16.4562 2.10693 14.5853 1.1069 12.5484 0.701759C10.5116 0.296614 8.40045 0.50455 6.48182 1.29927C4.5632 2.09399 2.92332 3.4398 1.76957 5.16652C0.615814 6.89323 0 8.9233 0 11C0.00301095 13.7839 1.11022 16.4528 3.0787 18.4213C5.04718 20.3898 7.71615 21.497 10.5 21.5ZM10.5 4.875C10.7596 4.875 11.0133 4.95198 11.2292 5.0962C11.445 5.24042 11.6133 5.4454 11.7126 5.68523C11.8119 5.92506 11.8379 6.18896 11.7873 6.44356C11.7366 6.69816 11.6116 6.93203 11.4281 7.11558C11.2445 7.29914 11.0107 7.42414 10.7561 7.47479C10.5015 7.52543 10.2376 7.49944 9.99773 7.4001C9.7579 7.30076 9.55292 7.13253 9.4087 6.91669C9.26448 6.70085 9.1875 6.44709 9.1875 6.1875C9.1875 5.83941 9.32578 5.50557 9.57192 5.25943C9.81806 5.01329 10.1519 4.875 10.5 4.875ZM9.625 9.25H10.5C10.9641 9.25 11.4092 9.43438 11.7374 9.76257C12.0656 10.0908 12.25 10.5359 12.25 11V16.25C12.25 16.4821 12.1578 16.7046 11.9937 16.8687C11.8296 17.0328 11.6071 17.125 11.375 17.125C11.1429 17.125 10.9204 17.0328 10.7563 16.8687C10.5922 16.7046 10.5 16.4821 10.5 16.25V11H9.625C9.39294 11 9.17038 10.9078 9.00628 10.7437C8.84219 10.5796 8.75 10.3571 8.75 10.125C8.75 9.89294 8.84219 9.67038 9.00628 9.50629C9.17038 9.34219 9.39294 9.25 9.625 9.25Z' fill='%238952FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7_2513'%3E%3Crect width='21' height='21' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center / 21px no-repeat;
      width: 21px;
      height: 21px;
      min-width: 21px;
      flex-shrink: 0;
      display: block;
      margin-right: 10px;
    }
  }
  label {
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
    color: #8952FF;
    input, textarea {
      width: 100%;
    }
    input[type=number] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;
    }
    textarea,
    input[type=email],
    input[type=text],
    input[type=number] {
      background: #273139;
      padding: 14px 20px;
      border: 0;
      margin-top: 5px;
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      &::-webkit-input-placeholder {color:rgba(255,255,255, .5);}
      &::-moz-placeholder          {color:rgba(255,255,255, .5);}
      &:-moz-placeholder           {color:rgba(255,255,255, .5);}
      &:-ms-input-placeholder      {color:rgba(255,255,255, .5);}
    }
    textarea {
      height: 153px;
      max-height: 355px;
      &::-webkit-input-placeholder {font-size: 14px;}
      &::-moz-placeholder          {font-size: 14px;}
      &:-moz-placeholder           {font-size: 14px;}
      &:-ms-input-placeholder      {font-size: 14px;}
    }
  }
  .textarea-label {
    position: relative;
    .textarea-country {
      position: absolute;
      top: 0;
      right: 0;
      color: rgba(255, 255, 255, 0.75);
    }
  }
  .wpcf7-checkbox {
    display: block;
    padding-top: 10px;
    .wpcf7-list-item {
      margin-left: 0;
    }
    input {
      display: none;
      &:checked + .wpcf7-list-item-label:after {
        opacity: 1;
      }
    }
    .wpcf7-list-item-label {
      position: relative;
      padding-left: 31px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.75);
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 21px;
        height: 21px;
      }
      &:before {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none'%3E%3Cpath d='M4.375 3.25H16.625C17.056 3.25 17.4693 3.4212 17.774 3.72595C18.0788 4.0307 18.25 4.44402 18.25 4.875V17.125C18.25 17.556 18.0788 17.9693 17.774 18.274C17.4693 18.5788 17.056 18.75 16.625 18.75H4.375C3.94402 18.75 3.5307 18.5788 3.22595 18.274C2.9212 17.9693 2.75 17.556 2.75 17.125V4.875C2.75 4.44402 2.9212 4.0307 3.22595 3.72595C3.5307 3.4212 3.94402 3.25 4.375 3.25Z' stroke='%238952FF' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E") center / cover no-repeat;
      }
      &:after {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none'%3E%3Cpath d='M16.625 2.25H4.375C3.67881 2.25 3.01113 2.52656 2.51884 3.01884C2.02656 3.51113 1.75 4.17881 1.75 4.875V17.125C1.75 17.8212 2.02656 18.4889 2.51884 18.9812C3.01113 19.4734 3.67881 19.75 4.375 19.75H16.625C17.3212 19.75 17.9889 19.4734 18.4812 18.9812C18.9734 18.4889 19.25 17.8212 19.25 17.125V4.875C19.25 4.17881 18.9734 3.51113 18.4812 3.01884C17.9889 2.52656 17.3212 2.25 16.625 2.25ZM15.4962 8.10375L8.96875 15.0512C8.88641 15.1376 8.78726 15.2063 8.67742 15.2529C8.56757 15.2996 8.44934 15.3232 8.33 15.3225C8.21066 15.3232 8.09243 15.2996 7.98258 15.2529C7.87274 15.2063 7.77359 15.1376 7.69125 15.0512L5.52125 12.75C5.43265 12.6688 5.36172 12.5702 5.31291 12.4603C5.26409 12.3505 5.23843 12.2318 5.23753 12.1116C5.23662 11.9914 5.26048 11.8723 5.30763 11.7617C5.35478 11.6512 5.42421 11.5515 5.51158 11.469C5.59894 11.3864 5.70238 11.3228 5.81544 11.282C5.9285 11.2411 6.04875 11.2241 6.1687 11.2318C6.28865 11.2395 6.40572 11.2719 6.51262 11.3268C6.61951 11.3818 6.71393 11.4582 6.79 11.5513L8.33 13.1875L14.2188 6.9225C14.3001 6.84049 14.3969 6.77539 14.5035 6.73097C14.6101 6.68655 14.7245 6.66368 14.84 6.66368C14.9555 6.66368 15.0699 6.68655 15.1765 6.73097C15.2831 6.77539 15.3799 6.84049 15.4613 6.9225C15.6137 7.07939 15.7018 7.28768 15.7083 7.50632C15.7148 7.72497 15.6391 7.93811 15.4962 8.10375Z' fill='%238952FF'/%3E%3C/svg%3E") center / cover no-repeat;
        opacity: 0;
        transition: opacity .3s;
      }
    }
  }
  .wpcf7-select {
    background: #273139 url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.2759 6.5H11.7239C11.8557 6.50003 11.9846 6.53914 12.0942 6.6124C12.2038 6.68565 12.2892 6.78976 12.3397 6.91156C12.3901 7.03336 12.4033 7.16739 12.3776 7.29669C12.3519 7.42599 12.2884 7.54477 12.1952 7.638L8.47123 11.362C8.34621 11.487 8.17668 11.5572 7.9999 11.5572C7.82312 11.5572 7.65358 11.487 7.52857 11.362L3.80457 7.638C3.71136 7.54477 3.64789 7.42599 3.62218 7.29669C3.59647 7.16739 3.60967 7.03336 3.66011 6.91156C3.71056 6.78976 3.79599 6.68565 3.90559 6.6124C4.0152 6.53914 4.14407 6.50003 4.2759 6.5Z' fill='white'/%3E%3C/svg%3E%0A") center right 20px / 16px no-repeat;
    width: 100%;
    height: 51px;
    border: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: #fff;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    &::-ms-expand {
      display: none;
    }
  }
  .wpcf7-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-purple-dark;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    border: 0;
    width: 100%;
    transition: opacity .3s;
    &:hover {
      opacity: 0.8;
    }
    i {
      display: inline-block;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='21' viewBox='0 0 22 21' fill='none'%3E%3Cg clip-path='url(%23clip0_7_7119)'%3E%3Cpath d='M18.875 10.5H16.25C15.2849 10.5 14.5 11.2849 14.5 12.25C14.5 13.2151 13.7151 14 12.75 14H9.25C8.28487 14 7.5 13.2151 7.5 12.25C7.5 11.2849 6.71513 10.5 5.75 10.5H3.125C1.67775 10.5 0.5 11.6777 0.5 13.125V16.625C0.5 19.0374 2.46263 21 4.875 21H17.125C19.5374 21 21.5 19.0374 21.5 16.625V13.125C21.5 11.6777 20.3223 10.5 18.875 10.5ZM19.75 16.625C19.75 18.0723 18.5723 19.25 17.125 19.25H4.875C3.42775 19.25 2.25 18.0723 2.25 16.625V13.125C2.25 12.642 2.642 12.25 3.125 12.25L5.75 12.2483V12.25C5.75 14.1803 7.31975 15.75 9.25 15.75H12.75C14.6803 15.75 16.25 14.1803 16.25 12.25H18.875C19.358 12.25 19.75 12.642 19.75 13.125V16.625ZM6.88138 4.63138C6.53925 4.28925 6.53925 3.73625 6.88138 3.39412L9.76275 0.51275C10.1005 0.175 10.5441 0.00525 10.9878 0.002625L11 0L11.0122 0.002625C11.4567 0.00525 11.8995 0.175 12.2372 0.51275L15.1186 3.39412C15.4608 3.73625 15.4608 4.28925 15.1186 4.63138C14.948 4.802 14.724 4.88775 14.5 4.88775C14.276 4.88775 14.052 4.802 13.8814 4.63138L11.875 2.625V8.75C11.875 9.23388 11.4839 9.625 11 9.625C10.5161 9.625 10.125 9.23388 10.125 8.75V2.625L8.11862 4.63138C7.7765 4.9735 7.2235 4.9735 6.88138 4.63138Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7_7119'%3E%3Crect width='21' height='21' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center / cover no-repeat;
      width: 21px;
      height: 21px;
      min-width: 21px;
      margin-right: 10px;
    }
  }
  &.invalid .wpcf7-submit {
    background: #9D9D9D;
  }
  .wpcf7-response-output {
    text-align: center;
  }
  .wpcf7-form-control-wrap {
    width: 100%;
    display: block;
  }
  .wpcf7-not-valid-tip {
    padding-top: 5px;
  }
  .codedropz-upload-wrapper {
    .codedropz-upload-handler {
      background: #273139;
      border: 0;
    }
    .codedropz-upload-container {
      padding: 50px 10px;
    }
    h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
        background: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_7_1966)'%3E%3Cpath d='M36.3333 20.5H31.3333C29.955 20.5 28.8333 21.6217 28.8333 23C28.8333 25.2983 26.965 27.1667 24.6667 27.1667H16.3333C14.035 27.1667 12.1667 25.2983 12.1667 23C12.1667 21.6217 11.045 20.5 9.66667 20.5H4.66667C2.36833 20.5 0.5 22.3683 0.5 24.6667V33C0.5 37.135 3.865 40.5 8 40.5H33C37.135 40.5 40.5 37.135 40.5 33V24.6667C40.5 22.3683 38.6317 20.5 36.3333 20.5ZM38.8333 33C38.8333 36.2167 36.2167 38.8333 33 38.8333H8C4.78333 38.8333 2.16667 36.2167 2.16667 33V24.6667C2.16667 23.2883 3.28833 22.1667 4.66667 22.1667H9.66667C10.125 22.1667 10.5 22.5417 10.5 23C10.5 26.2167 13.1167 28.8333 16.3333 28.8333H24.6667C27.8833 28.8333 30.5 26.2167 30.5 23C30.5 22.5417 30.875 22.1667 31.3333 22.1667H36.3333C37.7117 22.1667 38.8333 23.2883 38.8333 24.6667V33ZM13.2433 7.89833C12.9183 7.57333 12.9183 7.045 13.2433 6.72L18.7317 1.23167C19.1367 0.826667 19.6533 0.631667 20.1833 0.563333C20.2817 0.523333 20.3867 0.5 20.5 0.5C20.6133 0.5 20.7183 0.523333 20.8167 0.563333C21.3467 0.631667 21.8633 0.826667 22.2683 1.23167L27.7567 6.72C28.0817 7.045 28.0817 7.57333 27.7567 7.89833C27.5933 8.06167 27.38 8.14167 27.1667 8.14167C26.9533 8.14167 26.74 8.06 26.5767 7.89833L21.3333 2.655V18C21.3333 18.46 20.96 18.8333 20.5 18.8333C20.04 18.8333 19.6667 18.46 19.6667 18V2.655L14.4233 7.89833C14.0983 8.22333 13.5683 8.22333 13.2433 7.89833Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7_1966'%3E%3Crect width='40' height='40' fill='white' transform='translate(0.5 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center \ contain no-repeat;
      }
    }
    .cd-upload-btn {
      color: rgba(255, 255, 255, 0.75);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; 
    }
    .codedropz-upload-inner {
      span {
        display: none;
      }
    }
  }
}

#dropBox {
  min-width: 400px;
  max-width: 75%;
  min-height: 300px;
  border: 3px dashed black;
  text-align: center;
  background: lightgrey;
  padding: 3em;
  margin: auto;
}
#dropBox.hover {
  border-color: darkslateblue;
  background: aliceblue;
}
.button {
  display: inline-block;
  padding: .5em 1em;
  background: black;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid darkslateblue;
  color: #fff;
  transition: .4s;
}
.button:hover {
  background: darkslateblue;
}
#imgUpload {
  display: none;
}
#gallery {
  text-align: center;
  margin-top: 1.5em;
}
#gallery div {
  display: inline-block;
  margin: .5em 1em;
}
#gallery img {
  max-height: 150px;
}
#gallery .fName,
#gallery .fSize {
  display: block;
}
#gallery .fName {
  color: brown;
}
#gallery .fSize {
  font-size: .8em;
}
#gallery .fType {
  font-size: .7em;
}
.hero-banner .dnd-upload-status .dnd-upload-details .remove-file span:after {
  background: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.375 3.49999H15.6625C15.2439 1.46438 13.4532 0.002625 11.375 0H9.62497C7.54675 0.002625 5.75609 1.46438 5.33749 3.49999H2.625C2.14175 3.49999 1.75001 3.89173 1.75001 4.37497C1.75001 4.85822 2.14175 5.25 2.625 5.25H3.49999V16.625C3.5029 19.04 5.45996 20.9971 7.875 21H13.125C15.54 20.9971 17.4971 19.04 17.5 16.625V5.25H18.375C18.8582 5.25 19.25 4.85826 19.25 4.37501C19.25 3.89177 18.8582 3.49999 18.375 3.49999ZM9.62501 14.875C9.62501 15.3583 9.23327 15.75 8.75003 15.75C8.26674 15.75 7.875 15.3583 7.875 14.875V9.62501C7.875 9.14177 8.26674 8.75003 8.74999 8.75003C9.23323 8.75003 9.62497 9.14177 9.62497 9.62501V14.875H9.62501ZM13.125 14.875C13.125 15.3583 12.7333 15.75 12.25 15.75C11.7668 15.75 11.375 15.3583 11.375 14.875V9.62501C11.375 9.14177 11.7668 8.75003 12.25 8.75003C12.7333 8.75003 13.125 9.14177 13.125 9.62501V14.875ZM7.14964 3.49999C7.52181 2.452 8.51292 1.75133 9.62501 1.74997H11.375C12.4871 1.75133 13.4782 2.452 13.8504 3.49999H7.14964Z' fill='%23DA0000'/%3E%3C/svg%3E%0A") center / contain no-repeat;
}